{% extends 'expenses/base.html' %}
{% block body%}
<div class = "row" style="margin-top:50px" >
        <div class="col-md-5 col-md-offset-4" style="background-color:white; margin:auto; width:50%">          
    
<form action="{% url 'addClient' %}" method="POST">
        {% csrf_token %}
        <fieldset style="width:50%; margin:auto;padding-bottom:10px">
            <p style="text-align:center;font-size:20px;padding-top:10px"><b>Add New Client</b></p>
            <div style="margin-top:30px" >
            <label>Client Name:</label>
            <div class="input-control text" data-role="input-control" >
                <input type="text" placeholder="type text" name = 'name'>
                <button class="btn-clear" tabindex="-1" type="button"></button>
            </div></br>
            
            <input type="submit"  value="Submit" >
        </div>
        </fieldset>
</form>
</div>
</div>
{% endblock %}